<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Testing TSF">
    <classes>
      <class name="ui.TestingVideo"/>
      <class name="ui.LogoTesting"/>
      <class name="ui.PageWorkshops"/>
      <class name="ui.TestingInternshipPositions"/>
      <class name="ui.CountURLs"/>
      <class name="ui.VerifyTitle"/>
      <class name="ui.TestingCorporatePartners"/>
      <class name="ui.HighlightContact"/>
      <class name="ui.PageLINKS"/>
      <class name="ui.PageJobs"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
